@use "../variables/colors";

.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 6px;
  row-gap: 6px;
  place-items: center;
  padding: 33px 0;
  border-radius: 10px;
  background-color: colors.$firstly_bg;
}

.card {
  background-color: colors.$secondary_bg;
  padding: 20px;
  border-radius: 8px;
  color: colors.$white;
  width: 400px;

  img {
    width: 360px;
    height: 180px;
  }

  .description {
    height: 70px;
  }
}

.category {
  color: colors.$white;
}