body {
  display: flex;
  justify-content: center;
  background-color: var(--secondary_bg);
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

a {
  cursor: pointer;
}

.link {
  color: var(--white);

  &:hover {
    color: var(--primary);
  }
}

.underline {
  text-decoration: underline;
}

.py-10 {
  padding: 10px 0;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.pr-5 {
  padding-right: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.header, .footer {
  background-color: var(--firstly_bg);
  padding: 30px 0;
  font-size: 18px;
  color: var(--white);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 6px;
  row-gap: 6px;
  place-items: center;
  padding: 33px 0;
  border-radius: 10px;
  background-color: var(--firstly_bg);
}

.card {
  background-color: var(--secondary_bg);
  padding: 20px;
  border-radius: 8px;
  color: var(--white);
  width: 400px;

  img {
    width: 360px;
    height: 180px;
  }

  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 55px;
  }
}

.category {
  color: var(--white);
}