@use "./variables/colors";

body {
  display: flex;
  justify-content: center;
  background-color: colors.$secondary_bg;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

a {
  cursor: pointer;
}

.link {
  color: colors.$white;

  &:hover {
    color: colors.$primary;
  }
}

.underline {
  text-decoration: underline;
}

.py-10 {
  padding: 10px 0;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: colors.$primary;
}

.text-white {
  color: colors.$white;
}

.pr-5 {
  padding-right: 5px;
}

.pt-10 {
  padding-top: 10px;
}