@use "../variables/colors";

.pagination {
  margin: 20px 0;

  .page {
    padding: 5px 8px;
    background-color: var(--firstly_bg);
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    border-radius: 13px;
  }
}